<body>
    <section class="form-login">
      <h5>Formulario Login</h5>

      <input class="controls" type="text" name="usuario" value="" placeholder="Usuario">
      <input class="controls" type="password" name="contrasena" value="" placeholder="Contraseña">
      <a routerLink="/modulo"><input class="buttons" type="button" name="" value="Ingresar"></a>
      <p><a href="#">¿Olvidastes tu Contraseña?</a></p>
      <p><a routerLink="/registro">¿No tienes cuenta? Registrate!</a></p>

    </section>

  </body>
